#Personalized 

Analysis/preprocessing/FuncSimToolbox
Analysis/preprocessing/LIBSVM
Analysis/preprocessing/ScanMatch
Analysis/preprocessing/MultiMatch
Analysis/preprocessing/Trash
Analysis/preprocessing/rqa.m

Pilotexperiment/img/*
Pilotexperiment/Data/*
Pilotexperiment/.idea/*
Kontrollexperiment/img/*
Kontrollexperiment/Data/*
Kontrollexperiment/.idea/*

Analysis/Modeling/.idea/*
Analysis/Modeling/UbelixData/*
Analysis/Modeling/trash/*
Presentation/ppt/*

~$*

## Python

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# dotenv
.env

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/



Kontrollexperiment/Kontrollexperiment_lastrun.py
.Rproj.user

Analysis/Kontrollexperiment/Controllexp.nb.html

*.csv

*.xlsx
*.xls
Analysis/preprocessing/data.m
*.mat
Analysis/Modeling/.idea/workspace.xml
Analysis/Modeling/output_11_0.png
Analysis/Modeling/output_10_0.png
Analysis/Modeling/notebook.tex
*.npz
Analysis/Modeling/output_9_0.png
*.png
Analysis/Modeling/.idea/workspace.xml
Analysis/Modeling/.idea/workspace.xml
